# TMY3solar prediction

---
dataset download from:[here](https://storage.googleapis.com/kaggle-datasets/2516/4204/tmy3-solar.zip?GoogleAccessId=web-data@kaggle-161607.iam.gserviceaccount.com&Expires=1557480093&Signature=Rgb%2Ffwb8PAf0SXFK59nzBOqKnA1QMJEWpbgbnTjNYhYrKvbjrzpYf8Xy4a7UiX1GCMgbf50zkJhHAdStpr5VJAb%2Fc2F%2B9vUM4sguPOfch1EG9FUo795PmMJPKL8%2BG8gEoibFKQlApOmE%2BML%2B4iMTYKa%2BNBGOZE7905CscY5L6lGVI8xiQJ8TZF1v%2FZZLJCC21%2FuMEnWVHD7%2B9DBH2XB%2FVqZt6qPccVyyVglH86so8jj182Z3%2Bwbur6vuK8dL7jSj9RgIKAoZDu9yUTVJkvjYyosVBa1T7BiDtJE8IklA8pxcLq3dqNwT%2F3FHfVshqOe2leLXuTD1m6SIjz3cCwo3hQ%3D%3D)

In [1]:
import tensorflow as tf

import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns

In [2]:
datafilepath='./dataset/tmy3.csv'

data_raw=pd.read_csv(datafilepath)
data_raw.head(5)

C:\Users\sas\AppData\Roaming\Python\Python37\site-packages\IPython\core\interactiveshell.py:3049: DtypeWarning: Columns (62,66) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,Date (MM/DD/YYYY),Time (HH:MM),ETR (W/m^2),ETRN (W/m^2),GHI (W/m^2),GHI source,GHI uncert (%),DNI (W/m^2),DNI source,DNI uncert (%),...,AOD source,AOD uncert (code),Alb (unitless),Alb source,Alb uncert (code),Lprecip depth (mm),Lprecip quantity (hr),Lprecip source,Lprecip uncert (code),station_number
0,01/01/1998,01:00,0,0,0.0,2,0.0,0.0,2,0.0,...,F,8,0.19,F,8,NaN,NaN,NaN,0,690150
1,01/01/1998,02:00,0,0,0.0,2,0.0,0.0,2,0.0,...,F,8,0.19,F,8,NaN,NaN,NaN,0,690150
2,01/01/1998,03:00,0,0,0.0,2,0.0,0.0,2,0.0,...,F,8,0.19,F,8,NaN,NaN,NaN,0,690150
3,01/01/1998,04:00,0,0,0.0,2,0.0,0.0,2,0.0,...,F,8,0.19,F,8,NaN,NaN,NaN,0,690150
4,01/01/1998,05:00,0,0,0.0,2,0.0,0.0,2,0.0,...,F,8,0.19,F,8,NaN,NaN,NaN,0,690150